name: Test
on:
  release:
    types: [created]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup Node.js
        uses: actions/setup-node@v6
        with:   
          node-version: 25
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: install deps
        run: bun install
      - name: run test
        run: bun run test
  deploy:
    needs: test
    name: Deploy on npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25
          registry-url: https://registry.npmjs.org
      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
